
#autocompletionESP{
    width: inherit;
    background-color: white;
    line-height:1.5;
    position: absolute;
}

#autocompletionESP p {
    margin: 0 0 0 0;
    padding: 0 5px 0 5px;
}

#autocompletionESP p:hover {
    background-color:aliceblue;
    cursor:default;
}

#autocompletionGEN{
    width: inherit;
    background-color: white;
    line-height:1.5;
    position: absolute;
}

#autocompletionGEN p {
    margin: 0 0 0 0;
    padding: 0 5px 0 5px;
}

#autocompletionGEN p:hover {
    background-color:aliceblue;
    cursor:default;
}

#acdiv {
    display:inline-block;
    vertical-align: top;
}

#acdiv * {
    vertical-align: top;
}

#loading {
    visibility: hidden;
    width:20px;
}

fieldset {
    padding: 10px 0px 30px 50px;
    width:400px;
}
fieldset>div {
    display:flex;
    align-items:center;
}

#select-repo-inline .ts-dropdown {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	width: auto !important;
	box-shadow: none;
	height: auto !important;
}
#select-repo-inline .ts-dropdown-content {
	overflow: auto !important;
	max-height: none !important;

}
#select-repo-inline .ts-wrapper{
	position: sticky;
	top: 2rem;
	z-index:2000;
}
#select-repo-inline .option{
	margin: 0;
}
.icon{
	width: 3rem;
}
.item{
	width: 100%;
}