@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --headerfooter: rgba(186, 211, 232, 0.53);
}

html, body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}



#boxCenter {
    width: 100%;
    gap: 30px;
    margin-left: 30px;
}

#p {
    display: block;
}

a:hover {
    color: #c42c2c;
}

#boxCenter, #boxLeft, #boxRight {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    float: 10px;
}


textarea{  
    overflow:hidden;
    /* demo only: */
    font-size:12px;
    display:block;
    border-radius:5px;
    border:3px solid #556677;
    resize: none;

}

#aled {
    float: right;
}

select {
    width: 300px;
}

h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  #biblio {
    width: 40%;
  }
  
  li p {
      color: white;
      padding: 0px 16px;
  }

.parent-form {
    color: white;
    border: none;
    cursor: pointer;
}

.parent-form:hover {
        background-color: #111;
}

.formulaires {
    display: none;
    background-color: #f28c8c;
    min-width: 50px;
    }

.dropdown-form a {
    color: white;
    text-decoration: none;
    display: block;
    }

.dropdown-form {
position: relative;
display: inline-flex;
}

.dropdown-form:hover .formulaires {
    display: block;
}

.parent-form {
    color: white;
    border: none;
    cursor: pointer;
}

.parent-infos:hover {
        background-color: #111;
}

.infos {
    display: none;
    background-color: #f28c8c;
    min-width: 50px;
    }

.dropdown-infos a {
    color: white;
    text-decoration: none;
    display: block;
    }

.dropdown-infos {
position: relative;
display: inline-flex;
}

.dropdown-infos:hover .infos {
    display: block;
}